/* особенности  section class="feature-group"*/

.feature {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.feature__columns {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
    }
}

.feature__item {
    flex-basis: 100%;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2 * 30px) / 2);
        margin-top: 30px;
        margin-left: 30px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 4 * 30px) / 4);
    }
}

.feature__item:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.group__icon {
    @include size(70px, 70px);
}

.group {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background: $group-bgr;
    border-radius: 4px;
    margin-bottom: 30px;
}

.feature__title {
    font-weight: $font-weight-bold;
    font-size: $font-size-text;
    line-height: 1.172;
    letter-spacing: $letter-spacing-text;
    text-transform: uppercase;
    color: $main-color-headers;
    margin-bottom: 10px;
}
.feature__text {
    font-weight: normal;
    font-size: $font-size-text;
    line-height: 1.714;
    letter-spacing: $letter-spacing-text;
}
