/* Hero section class="hero"*/
.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    // height: 400px;
    max-width: 1600px;

    background: {
        size: cover;
        image: linear-gradient(to right, $gradient-hero1, $gradient-hero2), url(../images/hero.jpg);
        color: $hero-footer-background;
        repeat: no-repeat;
        position: center;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        // height: 600px;
    }
}
.hero__title {
    @include font-source-sans(26px, $white-color, 900, 1.363, 0.06em);
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 30px;

    @media screen and (min-width: 480px) {
        width: 360px;
    }

    @media screen and (min-width: 1200px) {
        width: 696px;
        font-size: 44px;
    }
}
/* кнопка Заказать услугу */
.hero__but {
    display: block;
    margin: 0 auto;

    @include font-source-sans($font-size-btn, $white-color, bold, 1.875, $letter-spacing-btn);
    font: {
        family: Roboto;
        style: $font-style-normal;
    }
    padding: 10px 32px;

    background: $color-button-logo;
    box-shadow: 0px 4px 4px $box-shadow-btn;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
