/* Команда */
.team {
    background: $team-filter-btn-bg;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.team__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
    }
}

.team__scorecard {
    background: $white-color;
    box-shadow: 0px 1px 3px $team-scorecard-box-shadow1, 0px 1px 1px $team-scorecard-box-shadow2,
        0px 2px 1px $team-scorecard-box-shadow3;
    border-radius: 0px 0px 4px 4px;

    flex-basis: 100%;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2 * 30px) / 2);
        margin-top: 30px;
        margin-left: 30px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 4 * 30px) / 4);
    }
}

.team__scorecard:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.team__container {
    padding: 30px 32px;
}

.team__member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: $letter-spacing-text;
    color: $main-color-headers;
    text-align: center;
}
.team__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: $letter-spacing-text;
    text-align: center;
    margin-top: 10px;
}
.social {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
.social__card {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
        margin-right: 10px;
    }
}
.social__ref {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: $company-social-color;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $white-color;
        background-color: $color-button-logo;
    }
}
