@mixin centeredFlex($type: flex) {
    display: $type;
    justify-content: center;
    align-items: center;
}

@mixin font-source-sans($size: false, $colour: false, $weight: false, $lh: false, $ls: false) {
    @if $size {
        font-size: $size;
    }

    @if $colour {
        color: $colour;
    }

    @if $weight {
        font-weight: $weight;
    }

    @if $lh {
        line-height: $lh;
    }

    @if $ls {
        letter-spacing: $ls;
    }
}

@mixin font-source($size: false, $weight: false) {
    @if $size {
        font-size: $size;
    }

    @if $weight {
        font-weight: $weight;
    }
}

@mixin size($width, $height) {
    @if length($height) ==1 {
        height: $height;
        width: $width;
    } @else {
        height: $width;
        width: $width;
    }
}

@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin pseudo($display: block, $content: '') {
    display: $display;
    content: $content;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
