$main-color-headers: #212121;
$main-text-color:  #757575;
$white-color: #FFFFFF;
$team-filter-btn-bg: #F5F4FA; 
$color-button-logo: #2196F3;
$hero-footer-background: #2f303a; 
$footer-phone-mail: rgba(255, 255, 255, 0.6);
$color-studio: black;
$card-content-border:  #EEEEEE;
$company-social-color: #AFB1B8;
$box-shadow-btn: rgba(0, 0, 0, 0.15);
$border-bottom-header: #ECECEC;
$work-case: rgba(47, 48, 58, 0.8);
$team-scorecard-box-shadow1: rgba(0, 0, 0, 0.12);
$team-scorecard-box-shadow2: rgba(0, 0, 0, 0.14);
$team-scorecard-box-shadow3: rgba(0, 0, 0, 0.2);
$subscribe-email-border: rgba(255, 255, 255, 0.3);
$subscribe-email-shadow: rgba(0, 0, 0, 0.15) ;
$gradient-hero1: rgba(48, 58, 47, 0.4);
$gradient-hero2: rgba(47, 48, 58, 0.4);
$client-list-link: #AFB1B8;
$border-modal-input: rgba(33, 33, 33, 0.2); 
$modal-icon-fill: #212121;
$modal-textarea-outline: rgba(33, 33, 33, 0.2);
$portfolio-btn-shadow1: rgba(0, 0, 0, 0.1);
$portfolio-btn-shadow2: rgba(0, 0, 0, 0.08);
$portfolio-btn-shadow3: rgba(0, 0, 0, 0.12);
$card-activ-shadow1: rgba(0, 0, 0, 0.12);
$card-activ-shadow2: rgba(0, 0, 0, 0.06);
$card-activ-shadow3: rgba(0, 0, 0, 0.16);
$card-box-bgr: rgba(33, 150, 243, 0.9);
$modal-bgr: rgba(0, 0, 0, 0.2);
$modal-tape-border: rgba(0, 0, 0, 0.1);
$subscribe-email-bgr: #2F303A;
$socialy-svg-bgr: rgba(153, 129, 129, 0.1);
$group-bgr: #F5F4FA;
$font-size-text: 14px;
$letter-spacing-text: 0.03em;
$font-size-btn: 16px;
$letter-spacing-btn: 0.06em;
$font-weight-bold: bold;
$font-style-normal: normal;
